@model ENAEJJMLRSFG.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Nuevo Cliente</h1>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="FirstName" class="control-label"></label>
            <input maxlength="50" asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="LastName" class="control-label"></label>
            <input maxlength="50" asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Email" class="control-label"></label>
            <input maxlength="100" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Phone" class="control-label"></label>
            <input maxlength="20" asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-cols-md-12">
        @await Html.PartialAsync("_DetAddress", Model.Addresses)
    </div>

 

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        @* <a asp-action="Index" class="btn btn-secondary">Back to List</a> *@
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        
      
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
