@model ENAEJJMLRSFG.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" id="fileImagen" asp-for="Image" class="form-control" onchange="validarTamaño()" />
                <span asp-validation-for="Image" class="text-danger"></span>
                <img id="imagenPrevia" src="@(Model.Image  )" alt="Vista previa de la imagen" style="max-width: 200px; max-height: 200px;" />
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function mostrarVistaPrevia() {
            var input = document.getElementById('fileImagen');
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    document.getElementById('imagenPrevia').src = e.target.result;
                }

                reader.readAsDataURL(input.files[0]); // Convierte el archivo a una URL base64
            }
        }

        function validarTamaño() {
            var archivoInput = document.getElementById('fileImagen');
            var archivo = archivoInput.files[0];
            var maxSizeInBytes = 1000000; // 1 MB

            if (archivo && archivo.size > maxSizeInBytes) {
                alert('El tamaño del archivo excede el límite permitido (1 MB).');
                archivoInput.value = ''; // Limpiar el valor del input de archivos
                document.getElementById('imagenPrevia').src = '@(Model.Image )'; // Restaurar la imagen predeterminada
            } else {
                // Si el archivo es válido, mostrar la vista previa
                mostrarVistaPrevia();
            }
        }
    </script>
}